* {
    font-family: "Roboto", cursive;
}

body {
    font-family: "Roboto";
}

.button-ppal {
    border: none;
    width: 115px !important;
    height: 32px !important;
    margin-top: 29px !important;
    cursor: pointer !important;
    justify-content: center !important;
    padding: 0 !important;
    background: #ec85e6 !important;
    border: 1px solid #ec85e6 !important;
    font-size: 15px !important;
    color: #fff !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    -webkit-transform: perspective(1px) translateZ(0) !important;
    transform: perspective(1px) translateZ(0) !important;
    box-shadow: 0 0 1px #ec85e6 !important;
    transition-property: color !important;
    transition-duration: .5s !important;
}

.button-ppal:before {
    content: "" !important;
    position: absolute !important;
    z-index: -1 !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background: #fc92f5 !important;
    -webkit-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
    -webkit-transform-origin: 0 50% !important;
    transform-origin: 0 50% !important;
    transition-property: -webkit-transform !important;
    transition-property: transform !important;
    transition-property: transform, -webkit-transform !important;
    transition-duration: .5s !important;
    transition-timing-function: ease-out !important;
}

.button-ppal:hover:before {
    -webkit-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
    transition-timing-function: cubic-bezier(.52, 1.64, .37, .66) !important;
}

.form-control-input-ppal {
    border: 1px solid #ec85e6 !important;
    display: block;
    width: 100% !important;
    height: 30px !important;
    padding: 0 20px !important;
    border-radius: 20px !important;
    background: none !important;
}

.form-control-input-ppal:focus {
    transition: outline 1s ease-in-out;
    outline: 1px solid var(--focus-color, #ec85e6);
    box-shadow: 1px 0px 2px var(--focus-shadow-color, #ec85e6);
}

.form-control-input-ppal::placeholder {
    font-size: 13px !important;
}

/* ESTILOS MODIFOCADOS PARA LA TABLA */

.stock-up>span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15% !important;
}

.stock-down>span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15% !important;
}

.stock-down>span>span {
    background-color: rgb(134, 2, 192) !important;
    color: #fff !important;
}

.stock-up>span>span {
    background-color: rgb(199, 82, 193) !important;
    color: #fff !important;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    right: 0;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 8px;
    width: 7px;
    height: 7px;
    cursor: pointer !important;
}

.css-10nm4f-MuiCircularProgress-root {
    color: rgb(199, 82, 193) !important;
}

.MuiAlert-message {
    background-color: rgb(248, 191, 245) !important;
}

/* .css-1etbicc-MuiTableRow-root.Mui-selected {
    background-color: rgb(248, 191, 245) !important;
} */

.css-1etbicc-MuiTableRow-root.Mui-selected .css-i4bv87-MuiSvgIcon-root {
    color: rgb(199, 82, 193) !important;
}

.MuiCheckbox-colorPrimary {
    color: rgb(199, 82, 193) !important;
}

.MuiListItemIcon-root>svg {
    color: rgb(199, 82, 193) !important;
}

/* FIN ESTILOS MODIFOCADOS PARA LA TABLA */

/* ESTILOS MODALS*/
.modal {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.w100Modal {
    min-width: 75% !important;
}

.w50Modal {
    min-width: 55% !important;
}

.w15Modal {
    min-width: 15% !important;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
    width: 100%;
}

.modal-title {
    width: 100% !important;
}

.header-tyles {
    background: #c752c1;
    color: #fff !important;
    height: 23px !important;
}

/* FIN ESTILOS MODALS */

/* INICIO ESTILOS SPAN PERSONALIZADO */
.small,
small {
    font-size: .875em;
}

.custom-small {
    background: #ec85e6 !important;
}

.custom-small,
.custom-small-status-no-succes {
    width: 50px !important;
    height: 15px !important;
    color: #fff !important;
    padding: 2px 8px !important;
    border-radius: 14px !important;
    overflow: hidden !important;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24) !important;
}

/* .css-ymd933-control:hover {
    border-color: rgb(167, 6, 159);
} */

.select__control {
    min-height: 30px !important;
}

.select__indicator-separator {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    align-self: stretch;
    width: 1px;
    background-color: rgb(204, 204, 204);
    margin-bottom: 9px !important;
    margin-top: 5px !important;
    box-sizing: border-box;
}

.select__dropdown-indicator {
    display: flex !important;
    margin-top: -5px !important;
}

.content-image {
    border-radius: 15px;
    height: 70vh !important;
    width: 70%;
    background: #ed7aed;
}

.content-img,
.no-image {
    display: flex !important;
    justify-content: center !important;
}

.content-img {
    align-items: center !important;
    align-content: center !important;
}

.no-image {
    border-radius: 15px;
    height: 65vh !important;
    width: 95%;
    margin: 3% auto auto !important;
}

.css-rfnosa {
    box-sizing: border-box;
    flex-direction: row;
}

.div-file-input {
    width: 70% !important;
}

.div-file-input {
    margin: 0 auto !important;
}

input#choose_file+label {
    display: flex;
    text-align: center;
    font-size: 14px;
    justify-content: center;
    background-color: #8602c0;
    padding: 1px;
    color: #fff;
    border: 2px solid #ff6cb1;
    border-radius: 9px;
}


.form-label {
    margin-bottom: .5rem;
}

input#choose_file+label:hover {
    background-color: #8602c0;
    border-color: #63038b;
    cursor: pointer;
    box-shadow: #ff6cb1;
    text-align: center !important;
}

.svg {
    width: 11%;
}

input#choose_file {
    display: none;
}

.button-upload {
    border: none;
    width: 115px !important;
    height: 32px !important;
    margin-top: 29px !important;
    cursor: pointer !important;
    justify-content: center !important;
    padding: 0 !important;
    background: #ec85e6 !important;
    border: 1px solid #ec85e6 !important;
    font-size: 15px !important;
    color: #fff !important;
    font-family: "Roboto", cursive !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    -webkit-transform: perspective(1px) translateZ(0) !important;
    transform: perspective(1px) translateZ(0) !important;
    box-shadow: 0 0 1px #ec85e6 !important;
    transition-property: color !important;
    transition-duration: .5s !important;
}

.button-order-save {
    display: flex !important;
    align-items: center !important;
    border: none;
    width: 115px !important;
    height: 19px !important;
    margin-top: 18px !important;
    cursor: pointer !important;
    justify-content: center !important;
    padding: 0 !important;
    background: #ec85e6 !important;
    border: 1px solid #ec85e6 !important;
    font-size: 15px !important;
    color: #fff !important;
    font-family: "Roboto", cursive !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    -webkit-transform: perspective(1px) translateZ(0) !important;
    transform: perspective(1px) translateZ(0) !important;
    box-shadow: 0 0 1px #ec85e6 !important;
    transition-property: color !important;
    transition-duration: .5s !important;
}

.button-order-cancel {
    display: flex !important;
    align-items: center !important;
    border: none;
    width: 115px !important;
    height: 19px !important;
    margin-top: 18px !important;
    cursor: pointer !important;
    justify-content: center !important;
    padding: 0 !important;
    background: #ec85e6 !important;
    border: 1px solid #ec85e6 !important;
    font-size: 15px !important;
    color: #fff !important;
    font-family: "Roboto", cursive !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    -webkit-transform: perspective(1px) translateZ(0) !important;
    transform: perspective(1px) translateZ(0) !important;
    box-shadow: 0 0 1px #ec85e6 !important;
    transition-property: color !important;
    transition-duration: .5s !important;
}

.error-form {
    background: #a7069f !important;
    border-radius: 10px !important;
    margin-top: 2px !important;
    height: 16px !important;
}

.error-form>p {
    color: #f7f7f9 !important;
    font-size: 11px !important;
    padding-left: 5px !important;
}

.content-toast {
    color: #fff !important;
}

.content-toast,
.Toastify__close-button {
    color: #fff !important;
}

.Toastify__toast-body {
    color: #fff !important;
}

.Toastify--animate-icon>svg {
    fill: #fff !important;
}

.Toastify__close-button--light>svg {
    color: #fff !important;
}

.Toastify__close-button>svg {
    color: #fff !important;
}

.Toastify__progress-bar .Toastify__progress-bar--animated .Toastify__progress-bar-theme--light .Toastify__progress-bar--error {
    background: #fff !important;
}

.Toastify__progress-bar--error {
    background: #fff !important;
}

.Toastify__progress-bar--success,
.Toastify__progress-bar--warning,
.Toastify__progress-bar--info,
.Toastify__progress-bar--error {
    background: #fff !important;
}

.MuiPickersClockNumber-clockNumberSelected,
.MuiPickersClockPointer-thumb,
.Toastify__toast,
.Toastify__toast-theme--light {
    background: #c752c1 !important;
}


.MuiPaginationItem-root.Mui-selected {
    color: #fff !important;
    background: #c752c1 !important;
}

.MuiFormHelperText-sizeSmall {
    color: #a7069f !important;
}

.MuiIconButton-colorInfo {
    color: #c752c1 !important;
}

.MuiInput-underline::after {
    border-color: #a7069f !important;
}

.MuiInput-underline::before {
    border-color: #a7069f !important;
}

[aria-label="Delete"] {
    color: #c752c1 !important;
}

[aria-label="Editar"] {
    color: #c752c1 !important;
}

.tooltip1 .tooltip-content {
    visibility: hidden !important;
    display: inline-block !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 20px !important;
    background-color: #c752c1 !important;
    color: #fff !important;
    position: absolute !important;
    z-index: 1 !important;
    margin-top: 20px;
}

.tooltip1:hover .tooltip-content {
    visibility: visible !important;
}

.mt-tooltip-car-shipping-delete {
    width: 60% !important;
    opacity: .7 !important;
    margin-left: -50% !important;
}

.select-order-category {
    z-index: 7;
}

.select-order-departamentsMunicipies {
    z-index: 10;
}

.list-products {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    height: 59vh;
    overflow: auto;
}

.card-style {
    background-color: rgb(255, 255, 255);
    color: rgb(52, 49, 76);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 3px -2px, rgba(0, 0, 0, 0.04) 0px 3px 4px 0px, rgba(0, 0, 0, 0.04) 0px 1px 8px 0px !important;
}

.content-input {
    position: relative;
    margin-bottom: 30px;
    padding: 5px 0 5px 60px;
    display: block;
}

.content-input input[type=checkbox]+i {
    width: 48px;
    height: 24px;
    border-radius: 15px;
}

.content-input input+i {
    background: #f0f0f0 !important;
    border: 2px solid rgba(0, 0, 0, .2) !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
}



.content-input input[type=checkbox]:checked+i {
    background: #f153c2 !important;
}

.content-input input[type=checkbox]:checked+i:after {
    opacity: 1 !important;
}

.content-input input[type=checkbox]+i:before {
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    box-shadow: 3px 0 3px 0 rgba(0, 0, 0, .2);
}

.content-input input[type=checkbox]:checked+i:before {
    left: 22px;
    -webkit-box-shadow: -3px 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 0 -3px 0 rgba(0, 0, 0, 0.2);
}

.content-input input[type=checkbox]+i:after {
    content: "ON" !important;
    position: absolute !important;
    font-size: 10px !important;
    color: hsla(0, 0%, 100%, .6) !important;
    top: 4px !important;
    left: 4px !important;
    opacity: 0;
    transition: all .25s ease .25s !important;
}

.button-shopping-orders {
    border: none;
    width: 115px !important;
    height: 32px !important;
    margin-top: 29px !important;
    cursor: pointer !important;
    justify-content: center !important;
    padding: 0 !important;
    background: #ec85e6 !important;
    border: 1px solid #ec85e6 !important;
    font-size: 15px !important;
    color: #fff !important;
    font-family: "Roboto", cursive !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    -webkit-transform: perspective(1px) translateZ(0) !important;
    transform: perspective(1px) translateZ(0) !important;
    box-shadow: 0 0 1px #ec85e6 !important;
    transition-property: color !important;
    transition-duration: .5s !important;
}

.button-ppal-w100 {
    width: 100% !important;
}

.div-actual-order {
    width: 100% !important;
}

.div-pedido-actual {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
}

.div-pedido-actual {
    margin-left: 5px;
    margin-right: 5px;
    width: 45%;
}

.div-pedido-actual {
    width: 53%;
}

.div-pedido-lista {
    overflow: auto;
    height: 28.5vh;
    background-color: white;
    width: 100%;
}

.div-productos-lista {
    width: 25%;
}

.div-list-products-order-ListGroupItem {
    background: rgba(243, 239, 239, .6) !important;
    margin-top: 15px;
    margin: 0 auto !important;
    width: 97% !important;
    padding: 10px !important;
}

.width-items-actual-product {
    width: 97% !important;
}

.text-center {
    text-align: center !important;
}

.txt-cantidad-product {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.div-list-products-order-ListGroupItem-content-buttons {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    justify-content: space-around !important;
}

.content-packing {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(237, 160, 209, .6) !important;
    border-radius: 5px !important;
    border-color: #f153c2;
    height: 22px !important;
}

/* .btn-packing {
    height: 27px !important;
    color: #63038b;
} */

.button-packageOn,
.button-packageOff {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 20px !important;
    margin-bottom: 1px !important;
    font-size: 13px !important;
    color: hsla(0, 100%, 2%, 0.562) !important;
}

.button-packageOn:hover {
    background: #c82bc1 !important;
    color: #f0f0f0 !important;
}


.button-packageOff {
    background: #c752c1 !important;
    color: #f0f0f0 !important;
}

.style-badge>svg {
    color: #c752c1 !important;
    cursor: pointer !important;
}

.style-badge>span {
    background-color: #c752c1 !important;
    color: #f0f0f0;
}

/* .btn-group-conten {
    display: flex !important;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
} */

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 30px;
    height: 30px;
    border: 10px solid #090909;
    /* Light grey */
    border-top: 10px solid rgb(236, 171, 15);
    /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.select-user-type {
    z-index: 12 !important;
}

.select-user-document-type {
    z-index: 10 !important;
}

.dateTimePicker {
    width: 100% !important;
}


.Mui-selected {
    background: #c752c1 !important;
    color: #f0f0f0 !important;
}

.MuiPickersDay-daySelected,
.MuiPickersToolbar-toolbar {
    background-color: #c752c1 !important;
}

.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    border: 1px solid rgba(199, 82, 193, 1) !important;
}

.dateTimePicker>div {
    border-radius: 50px;
    /* border: 1px solid #ec85e6 !important; */
    align-items: center;
    height: 30px;
    width: 100% !important;
}

.dateTimePicker>div>fieldset {
    border-color: #ec85e6 !important;
}

.dateTimePicker>div:hover {
    transition: outline 1s ease-in-out;
    outline: 1px solid var(--focus-color, #ec85e6);
    box-shadow: 1px 0px 2px var(--focus-shadow-color, #ec85e6);
}

.dateTimePicker>div::after {
    transition: outline 1s ease-in-out;
    outline: 1px solid var(--focus-color, #ec85e6);
    box-shadow: 1px 0px 2px var(--focus-shadow-color, #ec85e6);
}

.dateTimePicker>div::before {
    transition: outline 1s ease-in-out;
    outline: 1px solid var(--focus-color, #ec85e6);
    box-shadow: 1px 0px 2px var(--focus-shadow-color, #ec85e6);
}

.MuiOutlinedInput-notchedOutline .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: 1px solid #ec85e6 !important;
}



/* .dateTimePicker>div>input {
    border: 1px solid #ec85e6 !important
} */


.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    color: #fff;
    background-color: #c752c1 !important;
    font-weight: 500;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
    will-change: background-color;
    background-color: #c752c1 !important;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected {
    will-change: background-color;
    background-color: #c752c1 !important;
}

.MuiPickersLayout-actionBar>button {
    color: #c752c1 !important;
}

/* FIN ESTILOS SPAN PERSONALIZADO */