* {
    font-family: "Roboto", cursive;
}

body {
    font-family: "Roboto";
}

.button-ppal {
    border: none;
    width: 115px !important;
    height: 32px !important;
    margin-top: 29px !important;
    cursor: pointer !important;
    justify-content: center !important;
    padding: 0 !important;
    background: #ec85e6 !important;
    border: 1px solid #ec85e6 !important;
    font-size: 15px !important;
    color: #fff !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    -webkit-transform: perspective(1px) translateZ(0) !important;
    transform: perspective(1px) translateZ(0) !important;
    box-shadow: 0 0 1px #ec85e6 !important;
    transition-property: color !important;
    transition-duration: .5s !important;
}

.button-ppal:before {
    content: "" !important;
    position: absolute !important;
    z-index: -1 !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background: #fc92f5 !important;
    -webkit-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
    -webkit-transform-origin: 0 50% !important;
    transform-origin: 0 50% !important;
    transition-property: -webkit-transform !important;
    transition-property: transform !important;
    transition-property: transform, -webkit-transform !important;
    transition-duration: .5s !important;
    transition-timing-function: ease-out !important;
}

.button-ppal:hover:before {
    -webkit-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
    transition-timing-function: cubic-bezier(.52, 1.64, .37, .66) !important;
}

.form-control-input-ppal {
    border: 1px solid #ec85e6 !important;
    display: block;
    width: 100% !important;
    height: 30px !important;
    padding: 0 20px !important;
    border-radius: 20px !important;
    background: none !important;
}

.form-control-input-ppal:focus {
    transition: outline 1s ease-in-out;
    outline: 1px solid var(--focus-color, #ec85e6);
    box-shadow: 1px 0px 2px var(--focus-shadow-color, #ec85e6);
}

.form-control-input-ppal::placeholder {
    font-size: 13px !important;
}

/* ESTILOS MODIFOCADOS PARA LA TABLA */

.stock-up>span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15% !important;
}

.stock-down>span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15% !important;
}

.stock-down>span>span {
    background-color: rgb(134, 2, 192) !important;
    color: #fff !important;
}

.stock-up>span>span {
    background-color: rgb(199, 82, 193) !important;
    color: #fff !important;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    right: 0;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 8px;
    width: 7px;
    height: 7px;
    cursor: pointer !important;
}

.css-10nm4f-MuiCircularProgress-root {
    color: rgb(199, 82, 193) !important;
}

.MuiAlert-message {
    background-color: rgb(248, 191, 245) !important;
}

/* .css-1etbicc-MuiTableRow-root.Mui-selected {
    background-color: rgb(248, 191, 245) !important;
} */

.css-1etbicc-MuiTableRow-root.Mui-selected .css-i4bv87-MuiSvgIcon-root {
    color: rgb(199, 82, 193) !important;
}

.MuiCheckbox-colorPrimary {
    color: rgb(199, 82, 193) !important;
}

.MuiListItemIcon-root>svg {
    color: rgb(199, 82, 193) !important;
}

/* FIN ESTILOS MODIFOCADOS PARA LA TABLA */

/* ESTILOS MODALS*/
.modal {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.w100Modal {
    min-width: 75% !important;
}

.w50Modal {
    min-width: 55% !important;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
    width: 100%;
}

.modal-title {
    width: 100% !important;
}

.header-tyles {
    background: #c752c1;
    color: #fff !important;
    height: 23px !important;
}

/* FIN ESTILOS MODALS */

/* INICIO ESTILOS SPAN PERSONALIZADO */
.small,
small {
    font-size: .875em;
}

.custom-small {
    background: #ec85e6 !important;
}

.custom-small,
.custom-small-status-no-succes {
    width: 50px !important;
    height: 15px !important;
    color: #fff !important;
    padding: 2px 8px !important;
    border-radius: 14px !important;
    overflow: hidden !important;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24) !important;
}

/* .css-ymd933-control:hover {
    border-color: rgb(167, 6, 159);
} */

.select__control {
    min-height: 30px !important;
}

.select__indicator-separator {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    align-self: stretch;
    width: 1px;
    background-color: rgb(204, 204, 204);
    margin-bottom: 9px !important;
    margin-top: 5px !important;
    box-sizing: border-box;
}

.select__dropdown-indicator {
    display: flex !important;
    margin-top: -5px !important;
}

.content-image {
    border-radius: 15px;
    height: 70vh !important;
    width: 70%;
    background: #ed7aed;
}

.content-img,
.no-image {
    display: flex !important;
    justify-content: center !important;
}

.content-img {
    align-items: center !important;
    align-content: center !important;
}

.no-image {
    border-radius: 15px;
    height: 65vh !important;
    width: 95%;
    margin: 3% auto auto !important;
}

.css-rfnosa {
    box-sizing: border-box;
    flex-direction: row;
}

.div-file-input {
    width: 70% !important;
}

.div-file-input {
    margin: 0 auto !important;
}

input#choose_file+label {
    background-color: #8602c0;
    padding: 1px;
    color: #fff;
    border: 2px solid #ff6cb1;
    border-radius: 9px;
    text-align: center !important;
}

.form-label {
    margin-bottom: .5rem;
}

input#choose_file+label:hover {
    background-color: #8602c0;
    border-color: #63038b;
    cursor: pointer;
    box-shadow: #ff6cb1;
    text-align: center !important;
}

.svg {
    width: 11%;
}

input#choose_file {
    display: none;
}

.button-upload {
    border: none;
    width: 115px !important;
    height: 32px !important;
    margin-top: 29px !important;
    cursor: pointer !important;
    justify-content: center !important;
    padding: 0 !important;
    background: #ec85e6 !important;
    border: 1px solid #ec85e6 !important;
    font-size: 15px !important;
    color: #fff !important;
    font-family: "Roboto", cursive !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    -webkit-transform: perspective(1px) translateZ(0) !important;
    transform: perspective(1px) translateZ(0) !important;
    box-shadow: 0 0 1px #ec85e6 !important;
    transition-property: color !important;
    transition-duration: .5s !important;
}

.error-form {
    background: #a7069f !important;
    border-radius: 10px !important;
    margin-top: 2px !important;
    height: 16px !important;
}

.error-form>p {
    color: #f7f7f9 !important;
    font-size: 11px !important;
    padding-left: 5px !important;
}

.content-toast {
    color: #fff !important;
}

.content-toast,
.Toastify__close-button {
    color: #fff !important;
}

.Toastify__toast-body {
    color: #fff !important;
}

.Toastify--animate-icon>svg {
    fill: #fff !important;
}

.Toastify__close-button--light>svg {
    color: #fff !important;
}

.Toastify__close-button>svg {
    color: #fff !important;
}

.Toastify__progress-bar .Toastify__progress-bar--animated .Toastify__progress-bar-theme--light .Toastify__progress-bar--error {
    background: #fff !important;
}

.Toastify__progress-bar--error {
    background: #fff !important;
}

.Toastify__progress-bar--success {
    background: #fff !important;
}

.MuiPickersClockNumber-clockNumberSelected,
.MuiPickersClockPointer-thumb,
.Toastify__toast,
.Toastify__toast-theme--light {
    background: #c752c1 !important;
}


.MuiPaginationItem-root.Mui-selected {
    color: #fff !important;
    background: #c752c1 !important;
}

.MuiFormHelperText-sizeSmall {
    color: #a7069f !important;
}

.MuiIconButton-colorInfo {
    color: #c752c1 !important;
}

.MuiInput-underline::after {
    border-color: #a7069f !important;
}

.MuiInput-underline::before {
    border-color: #a7069f !important;
}

[aria-label="Delete"] {
    color: #c752c1 !important;
}

[aria-label="Editar"] {
    color: #c752c1 !important;
}

/* FIN ESTILOS SPAN PERSONALIZADO */